.btn {
  padding: 10px 16px;
  border-radius: 4px;
  background-color: var(--primary-clr);
  transition: var(--tran-03);
  color: var(--text2-clr);
}

.btn:hover {
  background-color: var(--primary-hover-clr);
}
