.overlay {
    position: fixed;
    cursor: pointer;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.3);
    z-index: 1000;

    opacity: 0;
    visibility: hidden;

    transition: opacity 0.3s ease, visibility 0s linear 0.3s; /* прозрачность переходит плавно, видимость меняется после задержки */
}
.visible .overlay {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.3s ease, visibility 0s; /* прозрачность плавно, видимость меняется сразу */
}
