.popup {
    position: relative;
    background-color: #fff;
}
/* .btn {
    display: flex;
    align-items: center;
    gap: 5px;
    background-color: #1976d2;
    font-size: 26px;
}
.btn__arrow {
    transform: rotate(0deg);
    transition: transform 0.3s ease;
}
.btn__arrow.visible {
    transform: rotate(180deg);
} */
.popup-content {
    position: absolute;

    min-width: 800px;
    max-height: 600px;
    overflow: scroll;

    top: calc(100% + 30px);

    opacity: 0;
    pointer-events: none;
    visibility: hidden;
    border-radius: 5px;
    background-color: #fff;
    border: 1px solid rgb(196, 196, 196);
    padding: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: var(--tran-03);
}
.popup-content.left {
    left: 0;
}
.popup-content.center {
    left: 50%;
    transform: translate(-50%, -10px);
}
.popup-content.right {
    right: 0;
}
.popup-content.visible {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
}
.popup__label {
    margin-bottom: 10px;
}
