.row {
    display: flex;
    align-items: center;
}
.handle-mask {
    width: 35px;
    height: 1px;
}
.handle {
    transform: translate(0%, -50%);
    width: 35px;
    height: 5px;
    border-radius: 0px;
    border: 0px;
}
